<!-- Implement like accordian and on hover displaying content (like menus) -->
<section id="directives">
    <h1 class="header"></h1>
    <p class="brief">
        The Angular directive helps us to manipulate the DOM.
        You can change the appearance, behavior, or layout of a DOM element using the Directives.
        They help you to extend HTML.
    </p>
    <section id="ComponentDirectives" class="directive-type">
        <h2 class="directive-title">Component Directives</h2>
        <div class="directive-notes">
        <pre class="brief">Components are special directives in Angular</pre>
        <!-- <a class="image-references" href="../../assets/images/" target="_blank">Click here for image</a> -->
        <pre class="code-sample">
            <code class="highlight">
            </code>
        </pre>
        </div>
    </section>
    <section id="Structural Directives" class="directive-type">
        <h2 class="directive-title">Structural Directives</h2>
        <div class="directive-notes">
        <pre class="brief">Structural directives can change the DOM layout by adding and removing DOM elements.
All structural Directives are preceded by Asterix symbol</pre>
        <!-- <a class="image-references" href="../../assets/images/" target="_blank">Click here for image</a> -->
        <pre class="code-sample">
            <code class="highlight">
                <ol>
                    <li>ngIf
                        <ul>
                            <li>The ngIf Directives is used to add or remove HTML elements based on an expression.
The expression must return a boolean value. If the expression is false then the element is removed, else the element is inserted</li>
                        </ul>
                    </li>
                    <li>ngFor
                        <ul>
                            <li>The ngFor is an Angular structural directive, which repeats a portion of the HTML template once per each item from an iterable list (Collection).
The ngFor is similar to ngRepeat in AngularJS</li>
                        </ul>
                    </li>
                    <li>ngSwitch
                        <ul>
                            <li>The ngSwitch directive lets you add/remove HTML elements depending on a match expression.
ngSwitch directive used along with <a href="https://www.tektutorialshub.com/angular/angular-ngswitch-directive/#ngswitchcase">ngSwitchCase</a> and <a href="https://www.tektutorialshub.com/angular/angular-ngswitch-directive/#ngswitchdefault">ngSwitchDefault</a></li>
                        </ul>
                    </li>
                </ol>
            </code>
        </pre>
        </div>
    </section>
    <section id="AttributeDirectives" class="directive-type">
        <h2 class="directive-title">Attribute Directives</h2>
        <div class="directive-notes">
        <pre class="brief">An Attribute or style directive can change the appearance or behavior of an element.
        </pre>
        <!-- <a class="image-references" href="../../assets/images/" target="_blank">Click here for image</a> -->
        <pre class="code-sample">
            <code class="highlight">
Refer to data-binding of <a routerLink="/components-info">components-info</a>
or
<a href="https://www.tektutorialshub.com/angular/angular-directives/#attribute-directives">Attribute directives</a>
            </code>
        </pre>
        </div>
    </section>
    <section id="CustomDirectives" class="directive-type">
        <h2 class="directive-title">Custom Directives</h2>
        <div class="directive-notes">
        <pre class="code-sample">
            <code class="highlight">
<a href="https://www.tektutorialshub.com/angular/custom-directive-in-angular/">Custom directives</a>
            </code>
        </pre>
        </div>
    </section>
</section>