<section id="pipes">
    <h1 class="header">Pipes</h1>
    <p class="brief">The Angular pipes are used to Transform the Data.
        For Example, the Date pipe formats the date according to locale rules.
        We can pass arguments to pipe and chain pipes. The Angular also allows us to create the Custom Pipe</p>
    <pre class="code-sample">
        <code class="highlight">
            References - <a href="https://www.tektutorialshub.com/angular/angular-pipes/">Angular Pipes</a>
        </code>
    </pre>
    <!-- <section id="" class="sub-title">
        <h2></h2>
        <pre class="brief"></pre>
    </section> -->
</section>